#imgProcess-btn-group {
    height: 9rem;
}

.btn-processes,
.action-btn {
    min-height: 3rem;
    min-width: 2rem;
    font-size: 1rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.processCategory {
    /* min-height: 3rem; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.action-btn {
    min-width: 7rem;
    min-height: 3rem;
}

.range-slider {
    opacity: 0;
    visibility: hidden;
}
